/* Write your CSS code here */
.blog-item {
  border-bottom: 1px solid #9aa5b1;
  padding: 20px 0;
}

.title-date-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-title {
  font-size: 18px;
  color: #12022f;
  margin: 0;
}

.blog-date {
  color: #9aa5b1;
  margin: 0;
}

.blog-description {
  color: #616e7c;
}