/* Write your CSS code here */
* {
  margin: 10px;
}
.userinfo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile-img {
  height: 50px;
  width: 50px;
}
.profile-heading {
  font-family: 'Roboto';
  font-size: 24px;
  color: #12022f;
}
.designation {
  font-family: 'Roboto';
  font-size: 24px;
  color: #616e7c;
}
